<footer class="site-footer">
  <% if (config.rss || config.feed) {  %>
  <a class="subscribe icon-feed" href="<%= (config.rss || config.feed.path) %>"><span class="tooltip">Subscribe!</span></a>
  <% } %>
  <div class="inner">
    <section class="copyright"><a href="http://opensource.org/licenses/MIT" title="MIT License">MIT License</a> &bull; Hack away</section>
    <section class="poweredby">Proudly published with <a href="https://hexo.io/" title="Hexo">Hexo</a></section>
  </div>
</footer>
