// svdb global variables
// -------------------------------------------------------

author = 'Sjaak van den Berg'

// colorwheel

   red-orange = hsla(16, 98%, 59%, 1)
       orange = hsla(31, 98%, 52%, 1)
yellow-orange = hsla(39, 99%, 55%, 1)
       yellow = hsla(53, 100%, 62%, 1)
 green-yellow = hsla(80, 72%, 54%, 1)
        green = hsla(119, 78%, 59%, 1)
   blue-green = hsla(183, 70%, 61%, 1)
         blue = hsla(205, 93%, 54%, 1)
  blue-purple = hsla(245, 73%, 68%, 1)
       purple = hsla(301, 67%, 57%, 1)
   red-purple = hsla(332, 82%, 60%, 1)
          red = hsla(356, 100%, 63%, 1)

// monochrome

white = hsla(0, 0, 98%, 1)
 gray = hsla(0, 0, 45%, 1)
black = hsla(0, 0, 8%, 1)

// theme colors

light-gray = lighten(gray, 90%)
shade-gray = lighten(gray, 75%)
 dark-gray = darken(gray, 75%)

      header-title = blue
header-title-hover = blue
   header-subtitle = white
header-description = white

body-background = light-gray
      body-font = dark-gray

      body-link = blue
body-link-hover = blue
  body-postmeta = gray
    body-accent = gray

 light-blue = lighten(blue, 25%)
 shade-blue = darken(blue, 25%)
  dark-blue = darken(blue, 70%)
darker-blue = darken(blue, 80%)

// device media queries

tablet = 'only screen and (max-width: 60em)'
phone = 'only screen and (max-width: 40em)'
